<body id="aboutBody">

<h1 id="aboutHeader"> Aakriti Gupta - About Me </h1>
<br>
<div style="width:980px; margin-left:auto; margin-right:auto;">
<h4>I did my Bachelors in Dental Surgery and
Masters in Hospital Administration from India</h4>
<img src="Assets/images/myImage.jpeg" alt="personal picture" style="float:right" id="myImage">
<h5>I am always excited to learn and implement new things in life.</h5>
<a href="Assets/images/AakritiGupta_CV.pdf">Click to view my Resume</a>
<br>
<p>Accomplishments:</p>
<ul>
<li>I worked as a Operations and Quality Executive in a Healthcare Setting</li>
<li>Research Paper - ‘Epidemiological pattern of hand injuries & financial burden of machine - cut hand injuries in a tertiary care hospital’ 
published in peer reviewed Scopus indexed journal ‘Indian Journal of Public Health Research & Development’ vol 9, Sept 2018.</li>
</ul>


<p>Some of my favorite activities are:</p>
<ul>
<li>Dancing</li>
<li>Singing</li>
<li>Watching movies</li>
<li>Listening music</li>
<li>Exploring new cuisines</li>
<li>Yoga and Meditation</li>
</ul>
</div>
</body>