 <!--
File name: bottom_nav.ejs
Author's name: Aakriti Gupta
Student ID: 301103413
Date: October 24, 2020
Web site name: Aakriti Gupta's Express Portfolio Website with Authentication
File description: This section contains bottom navigation.
-->
 <!--Bottom Nav-->
    <footer>
      <nav class="navbar bottom navbar-dark" style="background-color:transparent;">
        <p id="bottomNav">&copy; Copyright 2020. All Rights Reserved.</p>
      </nav>
    </footer>