
<body id="homeBody">
  <!--Main Content of Home Page-->
     <main>  
          <h1 id="welcomeMessage"> Welcome To My Page</h1>
          <div class="box">
            <img src="/Assets/images/myPic.jpeg" alt="My picture" class="box-img">
            <h1 id="myName">I am Aakriti Gupta</h1>           
            <p id="biographyText">I am a 3rd Semester student of Health Informatics Technology at Centennial College. 
            Want to know more about me?</p>  
            <a href="/about" class="btn btn-dark btn-lg">Click Here!</a>
            </div>          
        </main>
</body>