<!--
File name: projects_content.ejs
Author's name: Aakriti Gupta
Student ID: 301103413
Date: October 24, 2020
Web site name: Aakriti Gupta's Express Portfolio Website with Authentication
File description: This section contains content for projects page.
-->
<body id="projectBody"> 
        
            <!-- MAIN (Center website) -->
            <h2 id="projectHeading">My Projects</h2>
            <p id="projectDescription">I Successfully completed the following projects</p>
            <br>
                   
<!-- Portfolio Gallery -->
<div style="width:980px; margin-left:auto; margin-right:auto;">
<div class="row">
  <div class="column">
    <div class="content">
      <img src="/Assets/images/mplayer.PNG" alt="Music Player" style="width:100%">
      <h3 id="project1">Music Player</h3>
      <p id="projectText1">Built a music player using Winform (C#) in visual studio</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="/Assets/images/smachine.PNG" alt="Slot Machine" style="width:100%">
      <h3 id="project2">Slot Machine</h3>
      <p id="projectText2">Built a game named Slot Machine using TypeScript, CreateJS, Bootstrap and HTML canvas container</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="/Assets/images/ERD.png" alt="Entity Diagram" style="width:100%">
      <h3 id="project3">SQL Database for Men Shoes</h3>
      <p id="projectText3">Designed and developed an e-commerce application database and Entity-Relationship diagram (Men shoes) using SQL developer</p>
    </div>
  </div>
  </div>
  </body>